---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Form, Input, Button, Textarea, Checkbox, Fieldset, Heading, Link, Radio } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Contact">
  <PageHeader title="Contact" subtitle="„Întrebări sau soluții AI? Completează formularul și te contactăm!”" bgType="gradient" />
  <section class="my-16">
    <div class="container">
      <Heading level="h2">Contactează-ne  </Heading>
    </div>
  </section>
  <section class="container">
    <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
      <div class="space-content">
        <Form name="contact" action="/thank-you" method="post">
          <Input
            name="firstname"
            label="Nume"
            required
            data-validation="Avem nevoie de numele tău pentru a ști cum să ne adresăm corect"
            autocomplete="given-name"
          />

          <Input name="email" label="Adresă de email" type="email" required autocomplete="email" />

          <Textarea name="message" label="Mesaj" required />

          <Fieldset
            name="interests"
            legend="De ce servicii ești interesat?"
            required
            data-validation="Te rugăm să selectezi cel puțin un serviciu de interes"
          >
            <Checkbox name="tech-seo" value="tech-seo" label="Technical SEO" />
            <Checkbox name="ai-optimization" value="ai-optimization" label="AI Optimization" />
            <Checkbox name="aeo" value="aeo" label="AEO (Answer Engine Optimization)" />
          </Fieldset>

          <Button htmlType="submit" type="primary">Trimite mesaj</Button>
        </Form>
      </div>
      <div class="space-content">
        <Heading level="h3">Let’s connect</Heading>
        <p class="text-lg">
         Asigură-te că brandul tău este descoperit de AI folosind strategiile noastre demonstrate de AI SEO și Optimizare pentru Motoarele Generative (GEO).
        </p>
        <p>
        

          
        </p>

        <div class="gap-2xs flex items-center">
          <Icon aria-hidden="true" name="lucide:phone" size={20} class="flex-shrink-0" />
          <p>
            <span class="font-bold">Telefon:</span>
            <Link href="tel:+40750431911">+40 750 431 911</Link>
          </p>
        </div>

        <div class="gap-2xs flex items-center">
          <Icon aria-hidden="true" name="lucide:mail" size={20} class="flex-shrink-0" />
          <p>
            <span class="font-bold">Email:</span>
            <Link href="mailto:hello@indexlab.ro">hello@indexlab.ro</Link>
          </p>
        </div>

        <div class="gap-2xs flex items-center">
          <Icon aria-hidden="true" name="lucide:map-pin" size={20} class="flex-shrink-0" />
          <p>
            <span class="font-bold">București:</span>
            Virtuții 10, România
          </p>
        </div>

        <div class="gap-2xs flex items-center">
          <Icon aria-hidden="true" name="lucide:map-pin" size={20} class="flex-shrink-0" />
          <p>
            <span class="font-bold">Amsterdam:</span>
            Olanda
          </p>
        </div>

        <div class="gap-2xs flex items-center">
          <Icon aria-hidden="true" name="lucide:clock" size={20} class="flex-shrink-0" />
          <p>
            <span class="font-bold">Program:</span>
            Luni - Vineri, 09:00 - 18:00 (Ora Europei de Est)
          </p>
        </div>

        <ul class="flex flex-wrap gap-2">
          <li>
            <Link href="/" isButton isExternal hideIcon animateOnHover animationType="boop">
              <Icon aria-hidden="true" name="lucide:facebook" size={32} />
              <span class="sr-only">Go to our Facebook page, opens in a new tab</span>
            </Link>
          </li>
          <li>
            <Link href="/" isButton isExternal hideIcon animateOnHover animationType="boop">
              <Icon aria-hidden="true" name="lucide:twitter" size={32} />
              <span class="sr-only">Go to our Twitter page, opens in a new tab</span>
            </Link>
          </li>
          <li>
            <Link href="/" isButton isExternal hideIcon animateOnHover animationType="boop">
              <Icon aria-hidden="true" name="lucide:linkedin" size={32} />
              <span class="sr-only">Go to our LinkedIn page, opens in a new tab</span>
            </Link>
          </li>
        </ul>
      </div>
    </div>
  </section>
</DefaultLayout>
