---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import themeConfig from '@theme-config'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<Link href="/" class="flex items-center gap-1">
  <!-- Varianta 1: CPU / Tech (Decomentează pentru a o folosi) -->
  <!-- <Icon aria-hidden="true" name="lucide:cpu" class="w-8 h-8 text-gradient" /> -->
  
  <!-- Varianta 2: Scântei / Generative AI (Activă) -->
  <Icon aria-hidden="true" name="lucide:sparkles" class="w-8 h-8 text-gradient" />

  <!-- Varianta 3: Hexagon / Structură (Decomentează pentru a o folosi) -->
  <!-- <Icon aria-hidden="true" name="lucide:hexagon" class="w-8 h-8 text-gradient" /> -->
  <span class="text-xl font-bold sm:text-2xl text-gradient">{themeConfig.name}</span>
</Link>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
